.column-expenses{
  display: flex;
  flex-direction: column;
  margin:5%;
  /* margin: auto; */
}

.fecha{

  border: 1px solid rgba(255, 166, 0, 0.774);
  color: white;
  background-color: rgba(255, 166, 0, 0.932);
  height: 50px;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.fecha span{
font-weight: 700;
}

.fondo{
  /* background-color: blue; */
  height: 100vh;
}


.nav-item a{
  color: orange !important;
}
.nav-link.active{
  color: initial !important;
}

#ancho{
  width: 187px;
}

