
.breadcrumb{
  border-radius: 0% !important;
}
.spaces-list{
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80');
  background-position: 50% 50%;
  background-size: cover;
  padding: -2em;
  /* filter: blur(); */
}

@media (max-width: 767px){
  .position-cards{
  display: flex;
  flex-direction: column;
  margin: 10%;
}
}
