.home{
  background-image: url("./tyler-nix-qs0im4pLYbE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  /* filter:grayscale(); */
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
margin: 5%;
}

h2{
  color: white;
}