.column{
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start; 
  margin: 35% auto 0px auto;
  font-size: 1.5em;
}

.title-logo{
display: flex;
padding-top: 15%;
padding-bottom: 15%;
height: 200px;

}
.title-logo img{
 width: 10%;
 height: auto;
 margin-left: 5%;
}

.space{
text-align: center;
margin: auto;
font-size: 1.9em;
color: white;
font-weight: 700;
text-shadow: 0.2em 0.1em 0.1em #343c44;
letter-spacing: 2px;

}
.nav-item{
  border-radius: 50%;
  ;
}