

  .tarjeta{
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0.2em 0.2em 0.5em -0.1em rgb(65, 62, 62);
  }
  .tarjeta p{
    margin-top: 15%;
  }

  .formBoot{
    margin: 10%
  }

  .createSpace{
    /* height: 100vh; */
    background-image: url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: 45% 50%;
    filter: opacity(80%);
    display: flex;
  }
  .form-group{
    text-align: initial;
  }

