/* .login{
  margin: auto;
  display: flex;
  flex-direction: column;
  
}
.login-text{
  margin-top: 10%;
}

input.email, input.password, textarea{
  margin-bottom: 5%;
  border-radius: 25px;
  background: #343c44d0;
  text-align: center;
  color: white;
}
.theme{
  height: 100vh;
  display: flex;
  background-color: #343c44d0;

}

.container-login{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 40%;
  border: 2px solid #343c44;
  background-color: #343c44cb;
  box-shadow: 0.2em 0.2em  #343c44;
  /* border-radius: 25px; */

/* .btn-login{
  margin-top: 15%;
  border-radius: 25px;
  background-color: rgb(179, 36, 11);
  color: white;
}
#343c44 */

#login {
  background-image: url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -10;
  background-position: 50% 50%;
}

#signupForm{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

#login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  text-align: center;
}

.top-less-space {
  margin-top: 40px;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginDiv {
  border-radius: 5px;
  width: 100%;
}
.flex-row-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paint-div-input {
  background-color: rgba(255, 255, 255, 0.1);
}
.bottom-space {
  margin-bottom: 15px;
}
#imgLogin {
  margin: 10px;
}
.btn-login {
  width: 30vw;
  border: none;
  padding: 0.5em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: 1.2em;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(248, 167, 17);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
/* .btn-login:before,
.btn-login:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: #aadd4f;
}


.btn-login:before {
  filter: blur(3px);
  transition: all 0.25s ease;
  animation: pulse 10s infinite ease;
}

.btn-login:after {
  filter: blur(0.3px);
} */
#inputsLogin {
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: medium;
  width: 100%;
  height: 43px;
  display: inline-block;
  border: none;

  color: white;
  border-radius: 5px;
}
.noStyle {
  text-decoration: none;
  color: white;
}
#Registrate {
  color: orange;
}

.error-login{
  color: orange;
  font-weight: 700;
}