@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato", sans-serif;
}

.modal-footer{
  justify-content: center !important;
}

@media (min-width: 768px) {
  body {
    font-size: 20px !important;
  }

  .title-home {
    margin: 0 auto;
    max-width: 900px;
  }
  .lema {
    margin-top: 10% !important;
  }
  .lema h2 {
    font-size: 5em;
  }
  #loginForm {
    max-width: 900px;
    margin: 0 auto;
  }
  #form-login {
    max-width: 450px;
    margin: 0 auto;
  }
  #imgLogin {
    max-width: 18px;
  }
  .btn-login {
    max-width: 150px;
    margin: 0 auto;
  }
  #container {
    max-width: 300px;
  }
  button.learn-more {
    margin-bottom: 40% !important;
    width: 15rem !important;
  }
  /* .fadeout{
    max-width: 900px;
    margin: 0 auto;
  } */
  .wrapper {
    max-width: 60%;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
  .search {
    height: 40px !important;
    border-radius: 20px !important;
    border: 1px solid #ffa50085 !important;
  }
  .search-icon {
    top: 12px !important;

    width: 18px !important;
  }
  .card1 {
    max-width: 500px;
    height: 95vh !important;
  }

  .position-cards {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 1260px !important;
    margin: 0 auto !important;
    justify-content: center;
  }
  .imagenEspacio {
    height: 50vh !important;
    object-fit: cover;
  }
  .card__content1 {
    margin-top: 22% !important;
  }
  .menu {
    margin-top: 20% !important;
  }
  .menu-item,
  .menu-open-button {
    width: 150px !important;
    height: 150px !important;
  }
  .video-play-button:after {
    width: 150px !important;
    height: 150px !important;
  }
  .video-play-button {
    top: 60% !important;
  }
  .video-play-button:before {
    width: 150px !important;
    height: 150px !important;
  }
  .unete {
    margin-top: 45% !important;
  }
  .tarjeta {
    max-width: 900px;
    margin: auto !important;
  }
  .tarjeta1 {
    max-width: 900px;
    margin: auto !important;
  }
  .max-width900 {
    max-width: 900px;
    margin: auto;
  }
  .title-logo {
    height: 300px !important;
    padding-top: 0% !important;
    padding-bottom: 15% !important;
  }
  .nav-tabs {
    justify-content: center !important;
  }
  .nav-item {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .card-expenses {
    width: 450px;
    margin: 2% auto !important;
  }
  #ancho {
    width: 450px !important;
  }
  .nav-link.active {
    border-bottom: 5px solid orange !important;
  }
  .row-expense{
    width: 170px;
  }
  .newEvent {
    top: 690px!important;
    left: 1320px!important;
    padding-bottom: 20% !important;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border-left: transparent !important;
    border-right: transparent !important;
  }
  .nav-tabs {
    border-bottom: none !important;
  }
  .nav-link:hover {
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
  }
  .chore {
    width: 600px !important;
  }
  .column-expenses {
    align-items: center;
  }
  .card-items {
    max-width: 500px;
    height: 60px !important;
    margin-bottom: 3% !important;
    margin-top: 0 !important;
    /* font-size: 1em !important; */
  }
  .item-shop h2 {
    font-size: 2em !important;
  }
  .item-shop h2 span {
    font-size: 0.7em !important;
  }
  #borrar-icon {
    position: relative !important;
    width: 32px !important;
    height: 32px !important;
    top: -6px;
  }
  .item-shop:before {
    top: 21px !important;
  }
  .items-shopping {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
  }
  #pie {
    margin-top: 5% !important;
  }
  #label1 {
    width: 550px !important;
    height: 250px !important;
  }
  .column {
    margin: 25% auto 0px auto !important;
  }
  .progress-bar1 {
    margin-left: 28% !important;
  }
  .card-documents {
    width: 500px !important;
    margin-top: 0px !important;
  }
  .icono-documents {

    width: 270px !important;

}
.iconos-documentos{
  width: 32px !important;
  height: 32px !important;
}
.rbc-toolbar {
  display: flex;
  flex-direction: row !important;
  font-size: 24px !important;
}
.spaces-list{
  height: 100vmax  !important;
}
}
