.title-space{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
}

.name-space{
  margin: auto;
  font-size: 1.5em;
  margin-top: 5%;
}

.space-view{
overflow: hidden;
height: 100vh;
backdrop-filter: blur(5px);
}

.lock:hover .icon-unlock:before {
  content: "\f023";
}