.card-task {
  width: 100%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  border: 1px solid black;
  border-bottom: 1px solid rgb(214, 209, 209);
  border: 1px solid #5f5c5c33;
  border-radius: 25px;
  box-shadow: 0.2em 0.2em 0.1em 0em #5f5c5c6b;
}
#nombre {
  text-align: start;
  padding-top: 5%;
  padding-left: 7%;
  width: 100%;
  font-size: 0.8em;
  font-weight: 700;
  color: orange
}
.card-task p {
  text-align: start;
  padding-left: 7%;
  width: 100%;
  font-size: 0.6em;
  font-style: italic;
  color: #343c44e3

}

.progress-bar1 {
  /* height: 70px; */
  /* position: absolute; */
  margin-left: 12%;
  margin-top: 9% /* margin-top: -6%; */ /* margin-left: -10%; */;
}

.columna-task {
  width: 100%;
  position: relative;

  height: 100%;
  /* left: -10%; */
}

#asigned{
  font-size: 0.5em;
  color: #343c44;
  padding-left: 7%;
}

.delete-task{
  height: 100%;
  padding: 6%;
  display: flex;
  align-items: flex-start;
}







#label1 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 300px;
  height: 200px;
  display: flex;
  margin-left: 50%;

  margin-bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card9 {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;

}

.card9 div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(250, 246, 246);
  text-align: start;
  border: 2px solid rgb(255, 166, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
  box-shadow: 0.2em 0.2em 0.1em 0em orange;
}

.card9 .back2 {
  background: rgba(255, 168, 5, 0.61);
  color: #343c44;
  font-weight: 700;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2em 0.2em 0.1em 0em #343c44;
  z-index: 2;
}

.input-display {
  display: none;
}

:checked + .card9 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.descripcion-task{
  text-align: start;
  padding-left: 7%;
  width: 100%;
  font-size: 0.6em;
  font-style: italic;
  color: #343c44e3
}
/* label:hover :checked + .card9 {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
} */

.flotar{
  float: right;
  z-index: 9999;
}